:root {
  --color-primary: #3a86ff;
  --color-secondary: ;
  --color-accent: ;
  --color-body: #232a34;
}

main > .container {
  padding: 60px 15px 0;
}
.sticky-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

body {
  background-color: var(--color-body);
}

/* Container Height */
.minHeight {
  min-height: 60vh;
}

/* Badges */
.badge {
  font-size: 1rem;
  font-weight: 400;
  border-radius: 20px;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.badge--intro {
  background: var(--color-primary);
  color: #fff;
  border-radius: 20px 20px 0 20px;
}

.badge--download {
  background: var(--color-primary);
  color: #fff;
}
